<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>test_suite</key>
	<string>munki</string>
	<key>tests</key>
	<array>
		<dict>
			<key>fail_severity</key>
			<integer>2</integer>
			<key>test_type</key>
			<string>recipe_is_loaded</string>
		</dict>
		<dict>
			<key>fail_severity</key>
			<integer>2</integer>
			<key>test_type</key>
			<string>recipe_has_correct_ext</string>
		</dict>
		<dict>
			<key>keypaths</key>
			<array>
				<dict>
					<key>fail_severity</key>
					<integer>2</integer>
					<key>keypath</key>
					<string>Attribution/Copyright</string>
				</dict>
				<dict>
					<key>fail_severity</key>
					<integer>2</integer>
					<key>keypath</key>
					<string>Attribution/Author/Name</string>
				</dict>
				<dict>
					<key>fail_severity</key>
					<integer>2</integer>
					<key>keypath</key>
					<string>Attribution/Author/Email</string>
				</dict>
				<dict>
					<key>fail_severity</key>
					<integer>2</integer>
					<key>keypath</key>
					<string>Attribution/Author/Github</string>
				</dict>
				<dict>
					<key>fail_severity</key>
					<integer>2</integer>
					<key>keypath</key>
					<string>Input/pkginfo/category</string>
				</dict>
				<dict>
					<key>fail_severity</key>
					<integer>2</integer>
					<key>keypath</key>
					<string>Input/pkginfo/description</string>
				</dict>
				<dict>
					<key>fail_severity</key>
					<integer>2</integer>
					<key>keypath</key>
					<string>Input/pkginfo/developer</string>
				</dict>
				<dict>
					<key>fail_severity</key>
					<integer>2</integer>
					<key>keypath</key>
					<string>Input/pkginfo/name</string>
				</dict>
				<dict>
					<key>fail_severity</key>
					<integer>2</integer>
					<key>keypath</key>
					<string>Input/pkginfo/display_name</string>
				</dict>
			</array>
			<key>test_type</key>
			<string>key_exists_and_is_not_blank</string>
		</dict>
		<dict>
			<key>keypaths</key>
			<array>
				<dict>
					<key>expected_value</key>
					<string>%NAME%</string>
					<key>fail_severity</key>
					<integer>1</integer>
					<key>keypath</key>
					<string>Input/MUNKI_REPO_SUBDIR</string>
				</dict>
				<dict>
					<key>expected_value</key>
					<array>
						<string>testing</string>
					</array>
					<key>fail_severity</key>
					<integer>1</integer>
					<key>keypath</key>
					<string>Input/pkginfo/catalogs</string>
				</dict>
				<dict>
					<key>expected_value</key>
					<true/>
					<key>fail_severity</key>
					<integer>2</integer>
					<key>keypath</key>
					<string>Input/pkginfo/unattended_install</string>
				</dict>
			</array>
			<key>test_type</key>
			<string>key_exists_and_has_expected_value</string>
		</dict>
	</array>
</dict>
</plist>
